﻿@model DataAccessLibrary.Models.Hashtag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hashtag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.POI.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POI.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HashtagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
