<?php
$title = 'Apagar Ponto de Percurso';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>Apagar ponto de percurso com:
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;Nome: <?php echo $this->escapeHtml($pontopercurso->nome); ?> 
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;Descricao:<?php echo $this->escapeHtml($pontopercurso->descricao); ?> 
</p>
<?php
$url = $this->url('pontopercurso', array(
 'action' => 'delete',
 'id' => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
 <input type="hidden" name="id" value="<?php echo (int) $pontopercurso->id; ?>" />
 <input type="submit" name="del" value="Sim" />
 <input type="submit" name="del" value="Nao" />
</div>
</form>