<?php
$title = 'Pontos de Percurso';
$this->headTitle($title);

?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('pontopercurso', array('action'=>'pois','id' => $this->id));?>">Adicionar novo ponto</a>
</p>
<table class="table">
	<tr>
		<th>Nome</th>
		<th>Descricao</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($pontospercurso as $ponto) : ?>
	<tr>
 		<td><?php echo $this->escapeHtml($ponto->nome);?></td>
 		<td><?php echo $this->escapeHtml($ponto->descricao);?></td>
 		<td><?php echo $this->escapeHtml($ponto->gps_lat + 0);?></td>
 		<td><?php echo $this->escapeHtml($ponto->gps_long + 0);?></td>
	 	<td>
            <a href="<?php echo $this->url('pontopercurso',
                array('action'=>'meteorologias', 'id' => $ponto->id));?>">Selecionar</a>
			<a href="<?php echo $this->url('pontopercurso',
                array('action'=>'delete', 'id' => $ponto->id));?>">Apagar</a>
		</td>
	</tr>
<?php endforeach; ?>
</table>
