<?php
$title = 'Lista de Pontos de Interesse';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<table class="table">
<tr>
<th>Nome</th>
<th>Descricao</th>
<th>Local</th>
</tr>
<?php foreach ($pois as $poi) : ?>
<tr>
<td><?php echo $this->escapeHtml($poi['Name']);?></td>
<td><?php echo $this->escapeHtml($poi['Description']);?></td>
<td><?php echo $this->escapeHtml($poi['Local']['Name']);?></td>
<td>
<a href="<?php echo $this->url('pontopercurso',
     array('action'=>'add', 'id' => $poi['POIID']."_".$this->id));?>">Adicionar</a>
<a href="<?php echo $this->url('pontopercurso',
     array('action'=>'poi', 'id' => $poi['POIID']));?>">Informacao</a>
</td>
</tr>
<?php endforeach; ?>
</table>