<?php
$title = 'Informacao de Utilizador';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>


<b>
<?php echo "Nome: ";?>
</b>
<?php echo $this->escapeHtml($turista->nome);?>
<br/>

<b>
<?php echo "Nacionalidade: ";?>
</b>
<?php echo $this->escapeHtml($turista->nacionalidade);?>

<br/>
<b>
<?php echo "Email: ";?>
</b>
<?php echo $this->escapeHtml($turista->email);?>
