<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Welcome to %sTukPorto%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('TukPorto e uma aplicacao para criacao de percursos por pontos de passagem com informacoes meteorologicas.'), '</a>', \Zend\Version\Version::VERSION) ?></p>
</div>
