﻿@model DataAccessLibrary.Models.Visita

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horaFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horaFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
