﻿@model IEnumerable<DataAccessLibrary.Models.Visita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaFim)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaFim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VisitaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.VisitaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VisitaID })
        </td>
    </tr>
}

</table>
