﻿@model IEnumerable<DataAccessLibrary.Models.POI>
@using DataAccessLibrary.Models
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hashtags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Name)
            </td>
            <td>
                @{
                    if (item.Hashtags.Any())
                    {
                        Hashtag last = item.Hashtags.Last();
                        foreach (var aux in item.Hashtags)
                        {
                        @Html.DisplayFor(modelItem => aux.Descricao)
                            if (aux == last)
                            {
                            <text>&nbsp</text>
                            }
                            else
                            {
                            <text>,&nbsp</text>

                                }

                            }
                        } 


                    }
    </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.POIID }) |
            @Html.ActionLink("Details", "Details", new { id = item.POIID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.POIID })
        </td>
    </tr>
                }
                &nbsp
            </table>
