﻿@model IEnumerable<DataAccessLibrary.Models.Meteorology>

@{
    ViewBag.Title = "Results";
}

<h2>Results:</h2>

<table class="table">
    <tr>
        <th>
            Local
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfReading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourOfReading)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CO2)
        </th>
        <th></th>
    </tr>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfReading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HourOfReading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Temperature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wind)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Humidity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pressure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NO2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CO2)
                </td>
            </tr>
        }
    }
</table>